
body {
    background-image: url('img/universe.jpg');
   background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

h1 {
    text-align: center;
    color: #00ffcc; 
}

#moviesTable {
    width: 90%;
    margin: 20px auto; 
    border-collapse: separate; 
    border-spacing: 0;
    border: 1px solid #555;
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.2); 
}


#moviesTable thead th {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 12px 15px;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid #555;
}


#moviesTable tbody td {
    background-color: rgba(255, 255, 255, 0.15); 
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); 
    vertical-align: middle;
    border-radius: 3px;
    
}

/* Efecto hover en las filas */
#moviesTable tbody tr:hover td {
    background-color: rgba(255, 255, 255, 0.25);
}


.movie-cover {
    width: 100px; 
    height: auto;
    object-fit: contain; 
    border-radius: 10px;
    display: block; 
    margin: 10px; 
    padding-left: 40px;
}

body {
    background-color: #000;
    color: #ffffff;
    font-family: Arial, Tahoma, sans-serif, sans-serif;
    letter-spacing: 4px;
    margin: 40px 10%; 
  
}

h1 {
    text-align: center;
    color: #00ffcc; 
    margin-bottom: 30px; 
}


#moviesTable {
    width: 80%; 
    margin: 40px auto; 
    border-collapse: separate; 
    border-spacing: 0;
    border: 1px solid #555;
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.2); 
}


.filters-container, 
.footer,
.footer-container__box1-p2 {
    width: 95%;
    margin: 20px auto; 
    display: flex;
    justify-content: center; 
    gap: 30px; 
    padding: 8px 10px;
   background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.filter-group select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    cursor: pointer;
    min-width: 150px;
    
}


body {
    
    margin: 40px 10%; 
    
}


#moviesTable {
    width: 80%; 
    border: 1px solid rgba(255, 255, 255, 0.05); 
    margin: 40px auto; 
    border-collapse: collapse; 
    border-spacing: 0;
    border: 1px solid #555;
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.2); 
    
}


#moviesTable thead th , 
.filter-group label {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 8px 10px; 
    text-align: center; 
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-bottom: 2px solid #555;
    
}


#moviesTable tbody td {
    background-color: rgba(0, 0, 0, 0.35); 
    padding: 8px 10px; 
    text-align: center; 
    vertical-align: middle; 
    border: 1px solid rgba(255, 255, 255, 0.15); 
    line-height: 1.2; /
       
}

#moviesTable tbody td:nth-child(7) { 
   
    text-align: left; 
    max-width: 250px; 
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.contenedor-imagen {
  text-align: center; 
}

.footer {
  padding: 0px;
  display: block;
  text-align: center;
  letter-spacing: 4px;
}



